@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-grey: #515558;
  --color-white: #FCFCFC;
  --color-khaki: #AE8F5F;
  --color-linkBlue: #0000FF;
  --color-transparent: transparent;

  --text-paragraph: 1rem;
  --text-paragraph--line-height: 21px;
  --text-paragraph--letter-spacing: 0.01rem;
  --text-paragraph--font-weight: 400;

  --text-subheading: 1rem;
  --text-subheading--line-height: 100%;
  --text-subheading--letter-spacing: 0.02rem;
  --text-subheading--font-weight: 600;

  --text-heading: 1.875rem;
  --text-heading--font-weight: 400;

  --breakpoint-phone: 425px;
  --breakpoint-tablet: 800px;
  --breakpoint-desktop: 1280px;

  --font-afacad: var(--font-afacad),
    Tahoma,
    sans-serif;
  --font-raleway: var(--font-raleway),
    Tahoma,
    sans-serif;

  --spacing-15: 60px;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #fcfcfc;
    color: #515558;
    font-family: var(--font-afacad), Tahoma, sans-serif;
  }

  h1,
  h2 {
    font-family: var(--font-raleway), Tahoma, sans-serif;
    @apply text-heading;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply text-subheading uppercase;
  }

  p {
    @apply text-paragraph text-justify;
  }

  input,
  textarea {
    @apply text-grey font-thin
  }
}

@layer components {
  .spinner {
    width: 24px;
    height: 24px;
    position: relative;
  }

  .spinner::before,
  .spinner::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid transparent;
    border-top-color: #fcfcfc;
    animation: spin 1s linear infinite;
  }

  .spinner::after {
    animation-delay: 0.5s;
  }

  .spinner-grey {
    width: 18px;
    height: 18px;
    position: relative;
  }

  .spinner-grey::before,
  .spinner-grey::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid transparent;
    border-top-color: #515558;
    animation: spin 1s linear infinite;
  }

  .spinner-grey::after {
    animation-delay: 0.5s;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

/* swiper styles */

:root {
  --swiper-pagination-color: #ae8f5f;
  --swiper-pagination-bullet-inactive-color: #ae8f5f;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-horizontal-gap: 4px;
}

.swiper-pagination-v {
  left: -30px !important;
}

.swiper,
.swiper-pagination-bullets-dynamic {
  overflow: visible !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 100% !important;
  @apply bg-white/80;
  top: 22px !important;
  transition: all 0.2s ease;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
  color: #ae8f5f;
  transition: color 0.2s ease;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  @apply bg-khaki/80;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
  color: white;
}