@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..600;1,400..600&family=Raleway:ital,wght@0,400..600;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #fcfcfc;
  }

  * {
    color: #515558;
    font-family: "afacad", Tahoma, sans-serif;
  }

  h1,
  h2 {
    font-family: "raleway", Tahoma, sans-serif;
    @apply text-heading;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply text-subheading uppercase;
  }

  p {
    @apply text-paragraph text-justify;
  }
}

@layer components {
  .spinner {
    width: 22.75px;
    height: 22.75px;
    position: relative;
  }

  .spinner::before,
  .spinner::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid transparent;
    border-top-color: #fcfcfc;
    animation: spin 1s linear infinite;
  }

  .spinner::after {
    animation-delay: 0.5s;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

/* swiper styles */

:root {
  --swiper-pagination-color: #ae8f5f;
  --swiper-pagination-bullet-inactive-color: #ae8f5f;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-horizontal-gap: 4px;
}

.swiper-pagination-v {
  left: -30px !important;
}

.swiper,
.swiper-pagination-bullets-dynamic {
  overflow: visible !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 100% !important;
  @apply bg-white/80;
  top: 22px !important;
  transition: all 0.2s ease;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
  color: #ae8f5f;
  transition: color 0.2s ease;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  @apply bg-khaki/80;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
  color: white;
}